<li id="photoset_<%= @photoset.photoset_id %>" class="photoset box_shadow <%= 'shared' if @photoset.shared? %>">
  <% if @photoset.shared? %>
    <a href="http://<%= @photoset.url %>"><img src="<%= @photoset.image_url %>" /></a>
    <label><input class="toggle" type="checkbox" value="<%= @photoset.photoset_id %>" checked="checked" /> shared</label>
    <h2><a href="http://<%= @photoset.url %>"><%= @photoset.title %></a></h2>
  <% else %>
    <img src="<%= @photoset.image_url %>" />
    <label><input class="toggle" type="checkbox" value="<%= @photoset.photoset_id %>" /> share this photoset</label>
    <h2><%= @photoset.title %></h2>
  <% end %>
</li>